*
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2F3136;
	font-family: "Consolas";
}

.plyr
{
	background-color: #202225;
	height: 360px;
	aspect-ratio: 16/9;
}

textarea
{
	position: absolute;
	width: 300px;
	height: 160px;
	top: 5px;
	left: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: rgb(227, 227, 227);
	resize: none;
}
