body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2F3136;
}

video
{
	background-color: #202225;
	width: 640px;
	aspect-ratio: 16/9;
}
