body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2F3136;
	font-family: consolas;
}

.video_area
{
	display: flex;
	background-color: #202225;
	height: 360px;
	aspect-ratio: 16/9;
}

.plyr
{
	flex-grow: 1;
}

textarea
{
	height: 360px;
	width: 360px;
	color: rgb(227, 227, 227);
	background-color: #181a1c;
	border: none;
	resize: none;
}
