*
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2F3136;
	font-family: "Consolas";
}

textarea
{
	position: absolute;
	width: 442px;
	height: 160px;
	top: 5px;
	left: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: rgb(227, 227, 227);
	resize: none;
}

.control_panel
{
	background-color: #202225;
	padding: 5px;
}

.control_panel > *
{
	padding: 5px;
}
