*
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2F3136;
	font-family: "Consolas";
	font-size: 13px;
}

video
{
	background-color: #202225;
	height: 500px;
	aspect-ratio: 16/9;
}

.text_area
{
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: rgb(227, 227, 227);
	white-space: pre;
	user-select: none;
	padding: 5px;
	padding-right: 8px;
}
